0. Convert this table data into json data You have an SQL table that looks like this

CREATE TABLE Employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    department VARCHAR(50),
    salary INT
);

INSERT INTO Employees VALUES (1, 'Hakan', 'Hakansson', 'HR', 30000);
INSERT INTO Employees VALUES (2, 'Bob', 'Bobson', 'IT', 35000);

a) Start with writing out the table with the data

b) Convert this into semi-structured JSON format. Do it manually not programmatically.

a) Table: Employees
employee_id  first_name  last_name  department  salary
      1      Hakan         Hakansson   HR       30000
      2      Bob           Bobson      IT       35000       

b) json:  key: value

{"Employees": [
    {"employee_id": 1,
    "first_name":Hakan,
    "last_name":"Hakansson",
    "department": "HR",
    "salary": 30000},

    {"employee_id": 2,
    "first_name": Bob,
    "last_name":"Bobson",
    "department": "IT",
    "salary": 35000}
]}

1. You have this json data, convert it into three tables: Hospital, Department and Doctor. Fill these tables with data. Do this manually and not programmatically.

{
  "hospital": "Sjukhusstock",
  "address": "Drottninggatan 3, Stockholm",
  "departments": [
    {
      "name": "Kardiologi",
      "doctors": [
        { "id": 1, "name": "Dr. Abra Abrahamson" },
        { "id": 2, "name": "Dr. Erika Eriksson" }
      ]
    },
    {
      "name": "Neurologi",
      "doctors": [{ "id": 3, "name": "Dr. Sven Svensson" }]
    }
  ]
}

- Hospital
  hospital_id    hospital_name  address
  h01            Sjukhusstock   Drottninggatan 3, Stockholm
  
- Department 
    departments_id    d_name          hospital_id
     d01              Kardiologi      h01
     d02              Neurologi       h01

- Doctor
    doctor_id       name         departments_id 
      1     Dr. Abra Abrahamson   d01
      2     Dr. Erika Eriksson    d01
      3     Dr. Sven Svensson     d02

In [2]:
-- 创建 Hospital 表
CREATE TABLE Hospital (
    hospital_id INT PRIMARY KEY,
    name VARCHAR(100),
    address VARCHAR(255)
);

-- 插入医院数据
INSERT INTO Hospital VALUES (1, 'Sjukhusstock', 'Drottninggatan 3, Stockholm');

-- 创建 Department 表
CREATE TABLE Department (
    department_id INT PRIMARY KEY,
    name VARCHAR(100),
    hospital_id INT,
    FOREIGN KEY (hospital_id) REFERENCES Hospital(hospital_id)
);

-- 插入科室数据
INSERT INTO Department VALUES (1, 'Kardiologi', 1);
INSERT INTO Department VALUES (2, 'Neurologi', 1);


-- 创建 Doctor 表
CREATE TABLE Doctor (
    doctor_id INT PRIMARY KEY,
    name VARCHAR(100),
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES Department(department_id)
);

-- 插入医生数据
INSERT INTO Doctor VALUES (1, 'Dr. Abra Abrahamson', 1);
INSERT INTO Doctor VALUES (2, 'Dr. Erika Eriksson', 1);
INSERT INTO Doctor VALUES (3, 'Dr. Sven Svensson', 2);

SyntaxError: invalid syntax (3293625899.py, line 1)